# Import Neighborhoods

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
df = pd.DataFrame(data[0])

df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

## Clean data

In [3]:
#rename columns 
df.rename(columns={'Postcode':'PostalCode','Neighbourhood':'Neighborhood'}, inplace=True)
df.head()

  PostalCode           Borough      Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

In [4]:
#remove bourogh not assigned 
df = df[df['Borough'] != 'Not assigned']
df.head()

  PostalCode           Borough      Neighborhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M5A  Downtown Toronto       Regent Park
6        M6A        North York  Lawrence Heights

In [5]:
df = df.groupby(['PostalCode','Borough']).Neighborhood.agg([('Count','count'),('Neighborhood', ', ' .join)])
df = df.drop('Count', axis=1).reset_index()

In [6]:
df.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [7]:
#remplacing Not assigned values with the value from Borough column 
#df.coltoSearch.replace(toReplace,wheretoReplace, inplace)
df.Neighborhood.replace('Not assigned',df.Borough,inplace=True)

In [8]:
print("This dataset has", df.shape[0], 'rows')

This dataset has 103 rows

## Import And Append Coordinates

In [9]:
#importing lat, lon 
latLon = pd.read_csv('Geospatial_Coordinates.csv', names = ['PostalCode', 'Latitude', 'Longitude'])

In [10]:
latLon.head()

    PostalCode    Latitude    Longitude
0  Postal Code    Latitude    Longitude
1          M1B  43.8066863  -79.1943534
2          M1C  43.7845351  -79.1604971
3          M1E  43.7635726  -79.1887115
4          M1G  43.7709921  -79.2169174

In [11]:
#merge dataframes on PostalCode
mergedDf = df.merge(latLon, on='PostalCode')

In [12]:
mergedDf

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.8066863,-79.1943534
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.7845351,-79.1604971
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.7635726,-79.1887115
3,M1G,Scarborough,Woburn,43.7709921,-79.2169174
4,M1H,Scarborough,Cedarbrae,43.773136,-79.2394761
5,M1J,Scarborough,Scarborough Village,43.7447342,-79.2394761
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park",43.7279292,-79.2620294
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge",43.7111117,-79.2845772
8,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West",43.716316,-79.2394761
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.2648481
10,M1P,Scarborough,"Dorset Park, Scarborough Town Centre, Wexford ...",43.7574096,-79.273304
11,M1R,Scarborough,"Maryvale, Wexford",43.7500715,-79.2958491
12,M1S,Scarborough,Agincourt,43.7942003,-79.2620294
13,M1T,Scarborough,"Clarks Corners, Sullivan, Tam O'Shanter",43.7816375,-79.3043021
14,M1V,Scarborough,"Agincourt North, L'Amoreaux East, Milliken, St...",43.8152522,-79.2845772
15,M1W,Scarborough,L'Amoreaux West,43.7995252,-79.3183887
16,M1X,Scarborough,Upper Rouge,43.8361247,-79.2056361
17,M2H,North York,Hillcrest Village,43.8037622,-79.3634517
18,M2J,North York,"Fairview, Henry Farm, Oriole",43.7785175,-79.3465557
19,M2K,North York,Bayview Village,43.7869473,-79.385975
20,M2L,North York,"Silver Hills, York Mills",43.7574902,-79.3747141
21,M2M,North York,"Newtonbrook, Willowdale",43.789053,-79.4084928
22,M2N,North York,Willowdale South,43.7701199,-79.4084928
23,M2P,North York,York Mills West,43.7527583,-79.4000493
24,M2R,North York,Willowdale West,43.7827364,-79.4422593
25,M3A,North York,Parkwoods,43.7532586,-79.3296565
26,M3B,North York,Don Mills North,43.7459058,-79.352188
27,M3C,North York,"Flemingdon Park, Don Mills South",43.7258997,-79.340923
28,M3H,North York,"Bathurst Manor, Downsview North, Wilson Heights",43.7543283,-79.4422593
29,M3J,North York,"Northwood Park, York University",43.7679803,-79.4872619
...,...,...,...,...,...
73,M6C,York,Humewood-Cedarvale,43.6937813,-79.4281914
74,M6E,York,Caledonia-Fairbanks,43.6890256,-79.453512
75,M6G,Downtown Toronto,Christie,43.669542,-79.4225637
76,M6H,West Toronto,"Dovercourt Village, Dufferin",43.6690051,-79.4422593
77,M6J,West Toronto,"Little Portugal, Trinity",43.6479267,-79.4197497
78,M6K,West Toronto,"Brockton, Exhibition Place, Parkdale Village",43.6368472,-79.4281914
79,M6L,North York,"Downsview, North Park, Upwood Park",43.7137562,-79.4900738
80,M6M,York,"Del Ray, Keelesdale, Mount Dennis, Silverthorn",43.6911158,-79.4760133
81,M6N,York,"The Junction North, Runnymede",43.6731853,-79.4872619
82,M6P,West Toronto,"High Park, The Junction South",43.6616083,-79.4647633
83,M6R,West Toronto,"Parkdale, Roncesvalles",43.6489597,-79.456325
84,M6S,West Toronto,"Runnymede, Swansea",43.6515706,-79.4844499
85,M7A,Queen's Park,Queen's Park,43.6623015,-79.3894938
86,M7R,Mississauga,Canada Post Gateway Processing Centre,43.6369656,-79.615819
87,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern,43.6627439,-79.321558
88,M8V,Etobicoke,"Humber Bay Shores, Mimico South, New Toronto",43.6056466,-79.5013207
89,M8W,Etobicoke,"Alderwood, Long Branch",43.6024137,-79.5434841
90,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.6536536,-79.5069436
91,M8Y,Etobicoke,"Humber Bay, King's Mill Park, Kingsway Park So...",43.6362579,-79.4985091
92,M8Z,Etobicoke,"Kingsway Park South West, Mimico NW, The Queen...",43.6288408,-79.5209994
93,M9A,Etobicoke,Islington Avenue,43.6678556,-79.5322424
94,M9B,Etobicoke,"Cloverdale, Islington, Martin Grove, Princess ...",43.6509432,-79.5547244
95,M9C,Etobicoke,"Bloordale Gardens, Eringate, Markland Wood, Ol...",43.6435152,-79.5772008
96,M9L,North York,Humber Summit,43.7563033,-79.5659633
97,M9M,North York,"Emery, Humberlea",43.7247659,-79.5322424
98,M9N,York,Weston,43.706876,-79.5181884
99,M9P,Etobicoke,Westmount,43.696319,-79.5322424
100,M9R,Etobicoke,"Kingsview Village, Martin Grove Gardens, Richv...",43.6889054,-79.5547244
101,M9V,Etobicoke,"Albion Gardens, Beaumond Heights, Humbergate, ...",43.7394164,-79.5884369
102,M9W,Etobicoke,Northwest,43.7067483,-79.5940544